*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-tap-highllight-color:transparent;
    color: aliceblue;
}

body{
    width: 100vw;
    height: 100vh;
    background-color: #111;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    letter-spacing: 0.1rem;


}

.app_title{
    font-size: 3rem;
    text-transform: uppercase;
    padding: 2rem;
    font-weight: 300;

}

.app_info{
    text-align: justify;
    text-justify: inter-word;
    line-height: 1.5rem;
    font-size: 1.6rem;
    padding: 0 1rem;
    margin: 2rem 0;
}

.magicBall_outer{
    width: 500px;
    height: 500px;
    background-color: black;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin:2rem 0;
    border-radius: 50%;
    border-radius: 50%;
    background: #080808;
    box-shadow: inset 15px 15px 11px #866d6d,inset -15px -15px 11px #232222;
    cursor: pointer;

}

.magicBall_inner{
    width: 200px;
    height: 200px;
    background: rgb(227, 207, 207);
    border-radius: 50%;
    display: flex;
    color: #111;
    justify-content: center;
    align-items: center;
    z-index: 999;

}

.magicBall_response{
    font-size: 8rem;
    text-align: center;
    color: #241a1a;
    line-height: 1.2rem;
    


}
.magicBall_spotlight {
    position: absolute;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    opacity: 0.2;
    background: #535151;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}

.magicBall_bg_shadow {
    position: absolute;
    width: 147px;
    height: 147px;
    border-radius: 50%;
    background-color: rgb(113, 157, 200);
    opacity: 0.2;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}

.magicBall_upper_shadow {
    position: absolute;
    width: 75px;
    height: 75px;
    background: #9e9a9a;
    opacity: 0.8;
    border-radius: 50%;
    transform: translate(-70%, -70%);
    top: 50%;
    left: 50%;
}

.magicBall_lower_shadow {
    position: absolute;
    width: 175px;
    height: 175px;
    background: #9e9a9a;
    opacity: 0.8;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}


.animate{
    animation-name: shake-it;
    animation-duration: 3s;
    animation-iteration-count: 1;
    animation-timing-function: ease;
    animation-fill-mode : forwards;

}

@keyframes shake-it {
    0% { transform: translate(0, 0) rotate(0deg) scale(1); }
    10% { transform: translate(10px, 10px) rotate(20deg) scale(1.1); }
    20% { transform: translate(0, 0) rotate(0deg) scale(1); }
    30% { transform: translate(-10px, -10px) rotate(-20deg) scale(1.1); }
    40% { transform: translate(0, 0) rotate(0deg) scale(1); }
    50% { transform: translate(-10px, -10px) rotate(20deg) scale(1.1); }
    60% { transform: translate(0, 0) rotate(0deg) scale(1); }
    70% { transform: translate(10px, 10px) rotate(-20deg) scale(1.1); }
    80% { transform: translate(0, 0) rotate(0deg) scale(1); }
    90% { transform: translate(-10px, -10px) rotate(20deg) scale(1.1); }
    100% { transform: translate(0, 0) rotate(0deg) scale(1); }
}
